aside {
  background: white;
  margin: 10px;
}

.clearfix {
  clear: both;
  overflow: hidden;
}

html {
  font-size: 110%;
}

.left {
  float: left;
}

.raleway {
  font-family: 'Raleway', sans-serif;
}

.right {
  float: right;
}
