<md-toolbar class="md-hue-2">
  <div class="md-toolbar-tools">
        <h2><span>im2latex: A "Show, Attend, and Tell" Approach</span></h2>
        <span flex></span>
  </div>
</md-toolbar>
<md-content>
<section id="abstract">
  <h2>Abstract</h2>
  <p>The aim of this project was to create an intelligent system that could take images of mathematical equations and output a correct LaTeX representation of that equation. To accomplish the goals of the project two sub-branches of machine learning must be combined. First a convolutional neural network (CNN), a popular tool in image recognition, must be used to extract the features of the image. Then a sequence to sequence model is used to encode the rows of the CNN’s output and decode the resulting LaTeX output. Sequence to sequence models are a popular tool used in natural language processing. Thus, the overall strategy is to translate the pixels of an image into the language of LaTex. Furthermore, this project aims to compare three methods in their ability to perform the task. These methods are a Long-Short Term Memory(LSTM) model, a “show and tell” model, and a “show, attend, and tell” model.</p>
  <p>Thus, the overall strategy is to translate the pixels of an image into the language of LaTex. Furthermore, this project aims to compare three methods in their ability to perform the task. These methods are a Long-Short Term Memory(LSTM) model, a “show and tell” model, and a “show, attend, and tell” model.</p>
</section>
</md-content>
